<!-- CHAT PAGE -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="center text-big title-chat upc bold">{{chat.nome}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wallpaper">
    <ion-grid>
      <ion-row>

        <!-- Mensagens 1 -->
          <ion-col size="9" *ngIf="y1"  class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy1}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x1" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx1}}</span>
          </ion-col>

        <!-- Mensagens 2 -->
        <ion-col size="9" *ngIf="y2" class="mensagem azule-bg snow">
          <span class="text-big">{{chat.msgy2}}</span>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="x2" class="mensagem vinho-bg snow">
          <span class="text-big">{{chat.msgx2}}</span>
        </ion-col>


        <!-- Mensagens 3 -->
        <ion-col size="9" *ngIf="y3" class="mensagem azule-bg snow">
          <span class="text-big">{{chat.msgy3}}</span>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="x3" class="mensagem vinho-bg snow">
          <span class="text-big">{{chat.msgx3}}</span>
        </ion-col>

        <!-- Mensagens 4 -->
        <ion-col size="9" *ngIf="y4" class="mensagem azule-bg snow">
          <span class="text-big">{{chat.msgy4}}</span>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="x4" class="mensagem vinho-bg snow">
          <span class="text-big">{{chat.msgx4}}</span>
        </ion-col>

        <!-- Mensagens 5 -->
        <ion-col size="9" *ngIf="y5" class="mensagem azule-bg snow">
          <span class="text-big">{{chat.msgy5}}</span>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="x5" class="mensagem vinho-bg snow">
          <span class="text-big">{{chat.msgx5}}</span>
        </ion-col>

        <!-- Mensagens 6 -->
        <ion-col size="9" *ngIf="y6" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy6}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x6" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx6}}</span>
          </ion-col>

          <!-- Mensagens 7 -->
        <ion-col size="9" *ngIf="y7" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy7}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x7" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx7}}</span>
          </ion-col>

          <!-- Mensagens 8 -->
        <ion-col size="9" *ngIf="y8" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy8}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x8" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx8}}</span>
          </ion-col>

          <!-- Mensagens 9 -->
        <ion-col size="9" *ngIf="y9" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy9}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x9" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx9}}</span>
          </ion-col>

           <!-- Mensagens 10 -->
        <ion-col size="9" *ngIf="y10" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy10}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x10" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx10}}</span>
          </ion-col>

           <!-- Mensagens 11 -->
        <ion-col size="9" *ngIf="y11" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy11}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x11" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx11}}</span>
          </ion-col>

          <!-- Mensagens 12 -->
        <ion-col size="9" *ngIf="y12" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy12}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x12" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx12}}</span>
          </ion-col>

          <!-- Mensagens 13 -->
        <ion-col size="9" *ngIf="y13" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy13}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x13" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx13}}</span>
          </ion-col>

          <!-- Mensagens 14 -->
        <ion-col size="9" *ngIf="y14" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy14}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x14" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx14}}</span>
          </ion-col>

          <!-- Mensagens 15 -->
        <ion-col size="9" *ngIf="y15" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy15}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x15" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx15}}</span>
          </ion-col>

          <!-- Mensagens 16 -->
        <ion-col size="9" *ngIf="y16" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy16}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x16" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx16}}</span>
          </ion-col>

          <!-- Mensagens 17 -->
        <ion-col size="9" *ngIf="y17" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy17}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x17" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx17}}</span>
          </ion-col>

          <!-- Mensagens 18 -->
        <ion-col size="9" *ngIf="y18" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy18}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x18" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx18}}</span>
          </ion-col>

          <!-- Mensagens 19 -->
        <ion-col size="9" *ngIf="y19" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy19}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x19" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx19}}</span>
          </ion-col>

           <!-- Mensagens 20 -->
        <ion-col size="9" *ngIf="y20" class="mensagem azule-bg snow">
            <span class="text-big">{{chat.msgy20}}</span>
          </ion-col>
          <ion-col offset="3" size="9" *ngIf="x20" class="mensagem vinho-bg snow">
            <span class="text-big">{{chat.msgx20}}</span>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- FOOTER VOLTAR -->
<ion-footer *ngIf="voltar">
    <div class="center">
      <div button class="btn-voltar-page laranja-bg snow" (click)="gotoInitial()">
        VOLTAR
      </div>
    </div>
  </ion-footer>