<!-- INITIAL PAGE -->
<ion-content>
    <!-- BACKGROUND -->
  <div class="tudo img-fundo">
      <div class="overlay">
      <!-- btn dúvida -->
        <ion-icon name="help-circle" color="light" class="help-button" (click)="duvida()"></ion-icon>
        <!-- Mensagem de boas vindas -->
      <ion-label class="padding-top-10-percent snow hello-text center center-div">Olá jogador, seja bem vindo!</ion-label>
      <!-- btn scan code -->
  <div class="padding-top-30-percent center-div ">
        <div button class="btn-format snow" (click)="scan()">
          SCAN
        </div>
    </div>
      </div>
  </div>

</ion-content>
